html, body, #root {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("./assets/bils.jpg");
    background-size: cover;
}

.mainFrame {
    display: flex;
    justify-content: center;
    min-height: 100%;
    align-items: center;
}
